@import "tailwindcss";
@config "./tailwind.config.js";

@layer base {
  body {
    @apply antialiased text-slate-900 bg-slate-50;
  }
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }

  .delay-100 {
    animation-delay: 100ms;
  }

  .delay-200 {
    animation-delay: 200ms;
  }

  .delay-300 {
    animation-delay: 300ms;
  }

  .delay-500 {
    animation-delay: 500ms;
  }
}